.dashh{
    font-family: serif;
    text-align: center;
    margin-top: 4%;
    color:black;
    text-decoration-color: black;
    font-size: 30px;
}
.dashh2
{   font-size: 25px;
    font-family:monospace;
    text-align: center;
    color:black;
}
.ptag{
    top:20%;
    text-align: center;
    font-size: large;
    font-family: cursive;
}
.dashcard{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:2%;
    width:1200px;
    height:550px;
    background-color: white;
    position:fixed;
    top:8%;
    left:10%;
}
.ehrcard{
    width:350px;
    height:300px;
    background:linear-gradient(to right,rgb(245, 145, 162),pink);
    border-radius: 3%;
    position:fixed;
    top:29%;
    left:11%;
}
.ehrcard:hover{
    color:azure;
    box-shadow:2px;
}
.recard{
    width:350px;
    height:300px;
    border-radius: 3%;
    background:linear-gradient(to right,rgb(245, 145, 162),pink);
    position:fixed;
    top:29%;
    left: 38%;
}
.appcard{
    width:350px;
    height:300px;
    border-radius: 3%;
    background:linear-gradient(to right,rgb(245, 145, 162),pink);
    position:fixed;
    top:29%;
    left:64%;
}